<link rel="stylesheet" href="/css/home.css">
<h1 class="">hello this is <%=title%></h1>
<div class="container">
    <section id="feed-post">
        <h2 class="heading">Post</h2>
        <%if(locals.user){%>
            <form action="/posts/create" method="POST" id="new-post-form">
                <textarea placeholder="type your post here..." name="content" id="" cols="30" rows="10"
                    required></textarea>
                <input type="submit" value="post">
            </form>
            <%}%>
                <div class="post-list-container">
                    <ul>
                        <% for(post of posts){%>
                            <li>
                                <%-include('_post')-%>
                            </li>
                            <%}%>
                    </ul>
                </div>
    </section>
    <section id="user-friends">
        <h3 class="heading">Friends</h3>
        <%for(u of all_users){%>
            <p>
                <a class="f-list" href="users/profile/<%= u.id%>">
                    <%= u.name%>
                </a>
            </p>
            <%}%>
    </section>
</div>
<script src="/js/home_posts.js"></script>